@font-face {
    font-family: "La Belle Aurore";
    src: url("./fonts/La_Belle_Aurore/LaBelleAurore-Regular.ttf");
}

@font-face {
    font-family: "Nanum Myeongjo";
    src: url("./fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Nanum Myeongjo";
    src: url("./fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf");
    font-style: bold;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Nanum Myeongjo";
}

.header{
    background-color: rgb(35, 43, 71);
    height: 150px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-family: "La Belle Aurore";
}

.title{
    justify-self: center;
    margin: 0;
}

.nav{
    justify-self: flex-end;
    display: flex;
}

.nav-btn{
    margin: 15px;
    cursor: pointer;
}

.img-wrap{
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.food{
    max-width: 100%;
    min-height: 100%;
    position: relative;
}

.credit{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    text-decoration: none;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.text-wrapper{
    margin-top: 25px;
    width: 500px;
}

.info-title{
    color: white;
    position: absolute;
    padding: 0;
    margin: 0;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: bold;
}