@font-face {
    font-family: "La Belle Aurore";
    src: url("./fonts/La_Belle_Aurore/LaBelleAurore-Regular.ttf");
}

@font-face {
    font-family: "Nanum Myeongjo";
    src: url("./fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Nanum Myeongjo";
    src: url("./fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf");
    font-style: bold;
}


.content{
    min-height: 100vh;
    position: relative;
    padding-bottom: 25px;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Nanum Myeongjo";
    background-color: #fff;
    height: 100%;
}

a{
    color: black;
}

.header{
    background-color: #334155;
    position: sticky;
    height: 60px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "La Belle Aurore";
}

.title{
    font-size: 24px;
    justify-self: center;
    margin: 0 15px;
}

.nav{
    justify-self: flex-end;
    display: flex;
}

.nav-wrap{
    height: 50px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-btn{
    font-size: 16px;
    cursor: pointer;
    margin: 0;
}

.nav-btn:hover{
    font-size: 18px;
    transition: font-size .1s;
}

.img-wrap{
    height: 92vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.food{
    max-width: 100%;
    min-height: 100%;
    position: relative;
    filter: brightness(50%);
}

.img-wrap a{
    color: white;
}

.credit{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    text-decoration: none;
}

.text-title{
    font-size: 24px;
}

.info{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.text-wrapper{
    width: 500px;
}

.info-title{
    color: white;
    position: absolute;
    padding: 0;
    margin: 0;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    font-weight: bold;
}

.staff-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.staff-img{
    width: 40%;
    height:auto;
}

.staff-img:hover{
    filter: brightness(50%);
}

.menu-wrap{
    display: flex;
}

.menu-pic-wrap{
    width: 55%;
    overflow: hidden;
    height:93vh;
}

.menu-pic{
    max-height: 110%;
    width: auto;
}

.menu-info{
    display: flex;
    flex-direction: column;
}

footer{
    height: 25px;
    background-color: #334155;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: 5px 0px;
}

footer a{
    color: white;
}
